<h1><%= title %></h1>
<ul>
    <% for(var i=0; i<screenname.length; i++) { %>
        <li>
            <a href='screenname/<%= screenname[i] %>'>
                <%= screenname[i] %>
            </a>
        </li>
    <% } %>
</ul>