
	<style type="text/css">
	input {
	width: 500px;
	height:30px;
	border:1px solid black;
	font: 25px bold Tahoma, Arial, sans-serif;
	}
	button {
		font: 25px;
	}

	body {
		background-color: #ff9933;
	}		
	</style>

