<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/css/acstyles.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="/js/acscript.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/cover.css" rel="stylesheet"> 
   <title>Wumbo</title>
</head>
<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
         
              </ul>
            </div>
          </div>
          <style>
body {
      background-color: #f4d451;
   }
   </style>
          
<div><img src="/images/3.png" alt="logo"></div>
<!-- <div class="container"> -->
<body>
   <div id = 'narrtitle'>
<h2>Choose a theme your Wumbo will bring to life!</h2></div>
<div id='cssmenu'>
<ul>
   <li class='active has-sub'><a href='#'><span>Sports</span></a>
      <ul>
         <li><a href='#'><span>Chase for Rings</span></a></li>
      </ul>
     
      <li class='active has-sub'><a href='#'><span>Movies</span></a>
      <ul> 
         <li><a href='#'><span>Quest for the Crystal Skull</span></a></li></ul>
      
      <li class='active has-sub'><a href='#'><span>Games</span></a>
            <ul>
               <li><a href='#'><span>Mario Party</span></a></li></ul>
     
      <li class='active has-sub'><a href='#'><span>Justice</span></a>
      <ul>
          <li><a href='#'><span>There will be Justice!</span></a></li></ul>
         </li>

      <li class='has-sub'><a href='#'><span>Sponsored</span></a>
            <ul>
               <li><a href='#'><span>Tinder</span></a></li>
               <li><a href='#'><span>Game of Thrones</span></a></li>
            </ul>
         </li>
      </ul>
   </li>
</ul>

</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
