<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Wumbo</title>

    <!-- Bootstrap core CSS -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">
    <script type="text/javascript" src="//use.typekit.net/bdd7khb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!-- <h3 class="masthead-brand">WUMBO</h3> -->
              <!-- ul class="nav masthead-nav">
                <li class="active"><a href="/index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li> -->
             
          <style>
body {
		background-color: #7e78b5;
	}
	h2 {text-align: left}
	</style>
	<div class="screendata">
          <div class="inner cover">
          <img src="/images/beats.png" alt="logo">
          <br><img src="{{user1.picture}}" style="border-radius:45px;" height="100" width="100">
            <img src="{{user2.picture}}"style="border-radius:45px;" height="100" width="100"></br>
            <h1 class="cover-heading">Hey there!<br> Here's your WUMBO in all its glory</br></h1>
            <h2>Beats</h2>
            <p class="lead"><h2>
			It was a long road home for <b><font color="#ed9d3e">#RAPPlife</font></b> star player <b><font color="#ed9d3e">{{user1.screenName}}</font></b>. After losing in overtime, fans were yelling obscenities such as, <b><font color="#ed9d3e">{{user2.tweet1}}</font></b>, and <b><font color="#ed9d3e">{{user1.tweet1}}</font></b>. Listening to the sweet sounds of <b><font color="#ed9d3e">{{user2.screenName}}</font></b>, <b><font color="#ed9d3e">{{user1.screenName}}</font></b> was able to escape it all with <b><font color="#ed9d3e">#BeatsAudio</font></b>. </h2>

           </p>
           
            <p class="lead">
             <a href="/share"><img src="/images/purpshare.png"></a>
            </p>
            <p class="lead">
              <a href="/start"><img src="/images/purpres.png"></a></p>
        </div>
          </div>

        </div>

      </div>

    </div>
     </div>
          </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
       <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/bootstrap/docs/assets/js/docs.min.js"></script>
  </body>
</html>

