<!-- <!DOCTYPE html>
<html>
<head>
<title>WUMBO</title>
 <link rel="stylesheet" type="text/css" href="style.css"/>
 <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<style>
body {
		background-color: #b7ce59;
	}
	</style>
 <body>


	<div class="screendata">

		<h1>Your Wumbo</h1>
		<h2>Enter Two New Handles to Wumbo again</h2>

			 	<form action ='/wumbo' method="post">
				 	<input id="inputText" type="text" name="user1" required></input>
				 	<input id="inputText" type="text" name="user2" required></input>
					<button id="enter">Wumbo again</button>
				</form>
			
			<form action ='/wumbo/' method="post" visibility="hidden">
				 	<input id="inputText" type="text" name="user1" value='{{{user1.screeName}}}' required></input>
				 	<input id="inputText" type="text" name="user2" value='{{{user2.screeName}}}' required></input>
					<button id="enter">ReWumbo</button>
				</form>				
		<hr>
	
		<p>
			In the largest debate since <b>{{user1.tweet1}}</b>, <b>{{user2.screenName}}</b> was denied <b>#Thor</b> by the supreme <b>{{user1.screenName}}</b> based on <b>{{user2.tweet1}}</b>. Viewers were outraged, but according to <b>{{user1.friend}}</b>, arguing at <b>{{user2.location}}</b> means <b>{{user1.tweet2}}</b>. There's <b>{{user1.followerCount}}</b> sides to story, but that day they all learned <b>{{user2.tweet2}}</b>.
		</p>
		<h1>Screen Names</h1>
		<h5>We have data for {{user1.screenName}} and {{user2.screenName}}!</h1>

		<hr>

		<h1>Some Data</h1>
	     <h5>{{user1.screenName}}'s location is {{user1.location}} and their follower count is {{user1.followerCount}}</h5>
	     <h5>{{user2.screenName}}'s location is {{user2.location}} and their follower count is {{user2.followerCount}}</h5>
		<hr>
 
		<h1>Tweets</h1>
	     <h5>The tweet1 for {{user1.screenName}}! >> {{user1.tweet1}}</h5>
	     <h5>The tweet1 for {{user2.screenName}}! >> {{user2.tweet1}}</h5>

	     <h5>The tweet2 for {{user1.screenName}}! >> {{user1.tweet2}}</h5>
	     <h5>The tweet2 for {{user2.screenName}}! >> {{user2.tweet2}}</h5>
		<hr>

		<h1>Friends</h1>
	     <h5>{{user1.screenName}}'s friend is {{user1.friend}}, who has a screen name of {{user1.friendScreenName}}</h5>
	     <h5>{{user2.screenName}}'s friend is {{user2.friend}}, who has a screen name of {{user2.friendScreenName}}</h5>

		<hr>		

	</div>


 </body>
 </html>
 -->


 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Wumbo</title>

    <!-- Bootstrap core CSS -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!-- <h3 class="masthead-brand">WUMBO</h3> -->
              <!-- ul class="nav masthead-nav">
                <li class="active"><a href="/index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li> -->
              </ul>
            </div>
          </div>
          <style>
body {
		background-color: #ed9d3e;
	}
	</style>
	<div class="screendata">
          <div class="inner cover">
          	<img src="/images/3.png" alt="logo">
            <h1 class="cover-heading">Hey there! Here's your WUMBO in all it's glory</h1>
            <h1>Justice</h1>
            <p class="lead">
			In the largest debate since <b>{{user1.tweet1}}</b>, <b>{{user2.screenName}}</b> was denied <b>#Thor</b> by the supreme <b>{{user1.screenName}}</b> based on <b>{{user2.tweet1}}</b>. Viewers were outraged, but according to <b>{{user1.friend}}</b>, arguing at <b>{{user2.location}}</b> means <b>{{user1.tweet2}}</b>. There's <b>{{user1.followerCount}}</b> sides to story, but that day they all learned <b>{{user2.tweet2}}</b>.

           </p>
            <p class="lead">
              <a href="/share" class="btn btn-lg btn-default">Share</a>
            </p>
            <p class="lead">
              <a href="/start" class="btn btn-lg btn-default">Restart</a>
            </p>
        </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>

