
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Wumbo</title>

    <!-- Bootstrap core CSS -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">

    <script type="text/javascript" src="//use.typekit.net/bdd7khb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!-- <h3 class="masthead-brand">WUMBO</h3> -->
              <!-- ul class="nav masthead-nav">
                <li class="active"><a href="/index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li> -->
              </ul>
            </div>
          </div>
          <style>
body {
		background-color: #b7ce59;
	}
	h2 {text-align: left}
	</style>
	<div class="screendata">
          <div class="inner cover">
          	<img src="/images/wumbjust.png" alt="logo"><br>
          	<img src="{{user1.picture}}" style="border-radius:45px;" height="100" width="100">
          	<img src="{{user2.picture}}"style="border-radius:45px;" height="100" width="100"></br>
            <h1 class="cover-heading">Hey there! <br>Here's your WUMBO in all its glory</br></h1>
            <h2>Justice</h2>
            <p class="lead">
			<h2>In the largest debate since <b><font color="#5b7ad3">{{user1.tweet1}}</font></b>, <b><font color="#5b7ad3">{{user2.screenName}}</font></b> was sentenced to death by <b><font color="#5b7ad3">#Thor</font></b>. Viewers were outraged, but President <b><font color="#5b7ad3">{{user1.screenName}}</font></b>, pardoned the convict on account that <b><font color="#5b7ad3">{{user2.tweet1}}</font></b>. The <b><font color="#5b7ad3">#EBOLA</font></b> Times headline read <b><font color="#5b7ad3">{{user2.tweet2}}</font></b></h2>

           </p>
            <p class="lead">
              <a href="/share" class="btn btn-lg btn-default">Share</a>
            </p>
            <p class="lead">
              <a href="/start" class="btn btn-lg btn-default">Restart</a>
            </p>
        </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>

