<!-- <!DOCTYPE html>
<html>
<head>
<title>WUMBO</title>
 <link rel="stylesheet" type="text/css" href="style.css"/>
 <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
 <body>

<style>
body {
		background-color: #ea623d;
	}
	</style>
	
		<h1>Welcome to Wumbo!</h1>
		<h2> Wumbo is a raw mash of your phrases weeded out, chopped up and dropped in to complete short stories. Pulling insight from Twitter, users can sit back and let Wumbo do the talking. You never know who will say what next! </h2>
 
		<h2>Connect to Twitter</h2>
		<input type="submit" value="Get Wumbo-ing" 
    onclick="window.location='/start'"/>     
 
	</div>

 </body>
 </html>

 -->
 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Wumbo</title>

    <!-- Bootstrap core CSS -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!-- <h3 class="masthead-brand">WUMBO</h3> -->
              <!-- ul class="nav masthead-nav">
                <li class="active"><a href="/index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li> -->
              </ul>
            </div>
          </div>
          <style>
body {
		background-color: #f4d451;
	}
	</style>
          <div class="inner cover">
          	<img src="/images/3.png" alt="logo">
            <h1 class="cover-heading">Are <b>YOU</b> Ready to WUMBO?!</h1>
            <p class="lead">Wumbo is a raw mash of your phrases weeded out, chopped up and dropped in to complete short stories. Pulling insight from Twitter, users can sit back and let Wumbo do the talking. You never know who will say what next! To begin sign in to Twitter below!</p>
            <p class="lead">
              <a href="/sessions/connect" class="btn btn-lg btn-default">Sign In To Twitter</a>
            </p>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>