<!DOCTYPE html>
<html>
<head>
<title>WUMBO</title>
 <link rel="stylesheet" type="text/css" href="style.css"/>
 <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
 <body>

<style>
body {
		background-color: #ff9933;
	}
	</style>
	<div class="screendata">
		<h1>Are you ready to Wumbo!</h1>
		<h1>Enter Two Twitter Handles to Wumbo!</h1>

			 	<form action ='/' method="post">
			 	<input id="inputText" type="text" name="user1"></input>
			 	<input id="inputText" type="text" name="user2"></input>
				<button id="enter">Enter</button>
			</form>
		<hr>
	</div>

 </body>
 </html>

