<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Wumbo</title>

    <!-- Bootstrap core CSS -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">
    <script type="text/javascript" src="//use.typekit.net/bdd7khb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              </ul>
            </div>
          </div>
          <style>
body {
		background-color: #ea623d;
	}
h2 {text-align: left}

	</style>
	<div class="screendata">
          <div class="inner cover" >
          	<img src="/images/wumbomov.png" alt="logo"><br>
          	<img src="{{user1.picture}}" style="border-radius:45px;" height="100" width="100">
          	<img src="{{user2.picture}}"style="border-radius:45px;" height="100" width="100"></br>
            <h1 class="cover-heading">HEY THERE! <br>HERE'S YOUR WUMBO IN ALL ITS GLORY!</br></h1>
            <p class="lead">
          	<h2>Movies</h2>
			<h2>Ancient <b><font color="#ed9d3e">{{user1.location}}</font></b> is where we find our heroes, <b><font color="#ed9d3e">{{user1.screenName}}</font></b> and <b><font color="#ed9d3e">{{user2.screenName}}</font></b>, in search of the truth that, <b><font color="#ed9d3e">{{user1.tweet1}}</font></b>. Battling the jungle elements, relentless <b><font color="#ed9d3e">#Iraq</font></b>, and unforgiving <b><font color="#ed9d3e">#Knicks</font></b>, their quest for <b><font color="#ed9d3e">{{user2.tweet1}}</font></b> had only begun...</h2>
           </p>
            <p class="lead">
              <a href="/share"><img src="/images/redshare.png"></a>
            </p>
            <p class="lead">
              <a href="/start"><img src="/images/redrest.png"></a>
            </p>
         </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>


<!-- 


		</p>
		<h1>Screen Names</h1>
		<h5>We have data for {{user1.screenName}} and {{user2.screenName}}!</h1>

		<hr>

		<h1>Some Data</h1>
	     <h5>{{user1.screenName}}'s location is {{user1.location}} and their follower count is {{user1.followerCount}}</h5>
	     <h5>{{user2.screenName}}'s location is {{user2.location}} and their follower count is {{user2.followerCount}}</h5>
		<hr>
 
		<h1>Tweets</h1>
	     <h5>The tweet1 for {{user1.screenName}}! >> {{user1.tweet1}}</h5>
	     <h5>The tweet1 for {{user2.screenName}}! >> {{user2.tweet1}}</h5>

	     <h5>The tweet2 for {{user1.screenName}}! >> {{user1.tweet2}}</h5>
	     <h5>The tweet2 for {{user2.screenName}}! >> {{user2.tweet2}}</h5>
		<hr>

		<h1>Friends</h1>
	     <h5>{{user1.screenName}}'s friend is {{user1.friend}}, who has a screen name of {{user1.friendScreenName}}</h5>
	     <h5>{{user2.screenName}}'s friend is {{user2.friend}}, who has a screen name of {{user2.friendScreenName}}</h5>

		<hr>		

	</div>


 </body>
 </html> -->