<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Wumbo</title>

    <!-- Bootstrap core CSS -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">
    <script type="text/javascript" src="//use.typekit.net/bdd7khb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              </ul>
            </div>
          </div>
          <style>
body {
		background-color: #f4d451;
	}
	</style>
		<div class="screendata">
          <div class="inner cover">
          	 <img src="/images/share.png" alt="logo"></a>
            
            <p class="lead">
              <a href="/start" class="btn btn-lg btn-default">Back</a>
            </p>
          </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>

