<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Wumbo</title>

    <!-- Bootstrap core CSS -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">

    <script type="text/javascript" src="//use.typekit.net/bdd7khb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!-- <h3 class="masthead-brand">WUMBO</h3> -->
              <!-- ul class="nav masthead-nav">
                <li class="active"><a href="/index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li> -->
              </ul>
            </div>
          </div>
          <style>
body {
		background-color: #ed9d3e;
	}
	h2 {text-align: left}
	</style>
	<div class="screendata">
          <div class="inner cover">
          	<img src="/images/wumbospot.png" alt="logo"><br>
          	<img src="{{user1.picture}}" style="border-radius:45px;" height="100" width="100">
          	<img src="{{user2.picture}}"style="border-radius:45px;" height="100" width="100"></br>
            <h1 class="cover-heading">Hey there!<br> Here's your WUMBO in all its glory</br></h1>
            <h2>Sports</h2>
            <p class="lead"><h2>
			After four trips to The Finals and two rings in <b><font color="#5dc8d3">{{user1.location}}</font></b>, it was time for King <b><font color="#5dc8d3">{{user1.screenName}}</font></b> to return home. In a time when <b><b><font color="#5dc8d3">{{user2.tweet1}}</font></b> ruled the <b><b><font color="#5dc8d3">#Clippers</font></b> world, it was refreshing to hear the legend say, <b><b><font color="#5dc8d3">{{user1.tweet1}}</font></b>. </h2>

           </p>
            <p class="lead">
              <a href="/share"><img src="/images/orangshare.png"></a>
            </p>
            <p class="lead">
              <a href="/start"><img src="/images/oranrest.png"></a>
          </p>
        </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>

