<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Wumbo</title>

    <!-- Bootstrap core CSS -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">

    <script type="text/javascript" src="//use.typekit.net/bdd7khb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
             
            </div>
          </div>
          <style>
body {
		background-color: #5dc8d3;
	}
	h2 {text-align: left}
	</style>
		<div class="screendata">
          <div class="inner cover">
          	<img src="/images/wumbovg.png" alt="logo"><br>
          	<img src="{{user1.picture}}" style="border-radius:45px;" height="100" width="100">
          	<img src="{{user2.picture}}"style="border-radius:45px;" height="100" width="100"></br>
            <h1 class="cover-heading">Hey there! <br> Here's your WUMBO in all its glory</br></h1>
            <h2>Videogames</h2>
            <p class="lead">
            	<h2>
			Eating mushrooms and collecting coins, Super <b><font color="#ed9d3e">{{user1.screenName}}</font></b> was powered by thumbs. Blowing in tapes was more frustrating than <b><font color="#ed9d3e">#GregOden</font></b>! We found ourselves screaming <b><font color="#ed9d3e">{{user1.tweet1}}</font></b> at the TV, but it was all worth it to save Princess <b><font color="#ed9d3e">{{user2.screenName}}</font></b>.</h2>
           </p>
            <p class="lead">
              <a href="/share" class="btn btn-lg btn-default">Share</a>
            </p>
            <p class="lead">
              <a href="/start" class="btn btn-lg btn-default">Restart</a>
            </p>
          </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>

