<!DOCTYPE html>
<html>
<head>
<title>WUMBO</title>
 <link rel="stylesheet" type="text/css" href="style.css"/>
 <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
 <body>

<style>
body {
		background-color: #ff9933;
	}
	</style>
	<form action ='/narrative' method="post">
		<h1>Choose a theme for your Wumbo!</h1>
		<a href='data.html'><img src="wumblogo.jpg"></a>
		<a href='/movies'><img src="wumblogo.jpg"></a>
		<a href='/vg'><img src="wumblogo.jpg"></a>
		<a href='/sports'><img src="wumblogo.jpg"></a>

 </body>
 </html>

 