body{
width:100%;
margin:0px;
}

buttonContainer{
width:100%;
margin0px;
}
.button{
width: 100%;
height: 80px;
text-align: center;
color: #ffffff;
font-size: 34px;
letter-spacing: 2px;
line-height:2;
font-family: Helvetica, Arial, sans-serif;
}

.button a:link{
color:#ffffff;
text-decoration:none;
}

.button a:hover{
text-decoration:underline;
}
#sportsbutton{
background:#ed9d3e;
font-color:#ffffff;
}

#moviesbutton{
background:#ea623d;
font-color:#ffffff;
}

#gamesbutton{
background: #5dc8d3;
font-color:#ffffff;
}

#justicebutton{
background:#b7ce59;
font-color:#ffffff;
}

#sponsoredbutton{
background:#7e78b5;
font-color:#ffffff;
}